<div id="page-wrapper">
    <main class="page-content">
        <header class="page-header">
            <app-title></app-title>
            <app-theme-toggle></app-theme-toggle>
        </header>

        <section class="new-todo">
            <app-to-do-input></app-to-do-input>
        </section>

        <section class="to-do-list">
            <app-to-do-list></app-to-do-list>
            <app-to-do-actions></app-to-do-actions>
        </section>

        <footer class="page-footer">Drag and drop to reorder list</footer>
    </main>
</div>
